*{
    margin:0px;
    padding:0px;
}

body{
    background-color:#232323;
}

/*************************************************************
*********** MENU
**************************************************************/

nav{
    width:200px;
    background-color:#232323;
    z-index:20;
    position:fixed;
}

nav ul{
    list-style-type:none;
}

nav a{
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color:#FFFFFF;
    padding:17.5px;
    font-size:15px;
    font-weight:200;
}

nav > ul li:hover .sous{
    display:block;
}

nav .sous{
    display:none;
    background-color:#232323;
    position:absolute;
    width:100%;
    z-index:10;
    font-family:'UnifrakturCook', sans-serif;
}

nav .sous a{
    padding:10px;
}

nav .sous a:hover{
    transition:0.5s;
}

nav .sous li:nth-child(1) a:hover{background-color:#4682b4;}
nav .sous li:nth-child(2) a:hover{background-color:#303030;}
nav .sous li:nth-child(3) a:hover{background-color:#9b443f;}
nav .sous li:nth-child(4) a:hover{background-color:#dda148;}
nav .sous li:nth-child(5) a:hover{background-color:#76877d;}
nav .sous li:nth-child(6) a:hover{background-color:#aca9e2;}

/*************************************************************
*********** SECTION
**************************************************************/

section{
    display:none;
    position:fixed;
    top:50px;
    bottom:50px;
    left:0px;
    right:0px;
    overflow:auto;  
}

section:target{
    display:block;
    padding:12px;
    font-size:18px;
    color:#FFFFFF;
}

section h1{
    position:fixed;
    top:0px;
    right:0px;
    left:0px;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#232323;
    font-size:24px;
    font-weight:200;
    font-family:'UnifrakturCook', sans-serif;
    user-select:none;
}

section:nth-child(2) h1{background-color:#4682b4;}
section:nth-child(3) h1{background-color:#303030;}
section:nth-child(4) h1{background-color:#9b443f;}
section:nth-child(5) h1{background-color:#dda148;}
section:nth-child(6) h1{background-color:#76877d;}
section:nth-child(7) h1{background-color:#aca9e2;}



/*************************************************************
*********** RESPONSIVE DESIGN
**************************************************************/

@media (max-width: 550px){
    section h1{left:100px; right:0px;}
    nav{width:100px;}
    nav .sous{width:100vw;}
    footer span{visibility:hidden;}
}

/*************************************************************
*********** ACCUEIL
**************************************************************/

.contenu-accueil{
    display:flex;
    justify-content:center;
    align-items:center;
}

.contenu-accueil img{
    margin-top:100px;
    width:200px;
}

/*************************************************************
*********** CUL DE CHOUETTE
**************************************************************/

.dices{text-align:center; user-select:none;}

.dices img{width:90px; margin-top:2px;}

.dice-shaking{animation:shake 0.3s ease-in-out infinite;}

@keyframes shake{
    0%{transform:translate(0,0);}
    25%{transform:translate(-3px,-3px);}
    50%{transform:translate(3px,3px);}
    75%{transform:translate(-3px,3px);}
    100%{transform:translate(0,0);}
}

#start{
    color:#FFFFFF;
    background-color:transparent;
    font-family:'UnifrakturCook', sans-serif;
    display:block;
    cursor:pointer;
    margin:auto;
    user-select:none;
    width:350px;
    padding:20px;
    margin-top:10px;
    font-size: 20px;
    font-weight:200;
    border:1px solid #303030;
    position:relative;
    color:#FFFFFF;
    text-decoration:none;
    transition:0.3s ease all;
}

#start:before{
    transition:0.3s all ease;
    position:absolute;
    top:0;
    left:50%;
    right:50%;
    bottom:0;
    opacity:0;
    content:'';
    background-color:#303030;
    z-index:-1;
}

#start:hover{color:white;}

#start:hover:before{
    transition:0.3s all ease;
    left:0;
    right:0;
    opacity:1;
}

#start:active{transform:scale(0.9);}

#table{
    display:flex;
    flex-wrap:nowrap;
    margin:auto;
    user-select:none;
    width:60vw;
    margin-top:20px;
}

#block_left, #block_middle, #block_right{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-content:flex-start;
    width:60%;
    margin-right:20px;
    gap:5px;
}

#block_left .combinations, #block_left div, #block_middle .actions, #block_middle div, #block_right .total, #block_right div{
    font-family:'UnifrakturCook', sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:200;
    height:25px;
    padding:20px;
}

#block_left .combinations{background-color:#303030; width:449px; margin-bottom:15px;}
#block_left div{width:200px;}

#block_middle .actions{background-color:#303030; width:200px; margin-bottom:15px;}
#block_middle div{width:200px;}

#block_right .total{background-color:#303030; width:100px; margin-bottom:15px;}
#block_right div{background-color:#303030; width:100px; height:250px;}

.block_bottom{margin-top:8px;}

#combination, #points, #blunder{border:1px solid #303030}

.combinations, .actions, .total{font-size:20px;}

#chouette, #culdechouette, #velute, #suite, #chouettevelute, #neant, #sirop, #civet, #grelottine, #blunder{font-size:18px;}

#total{font-size:18px;}

.block{
    color:#FFFFFF;
    background-color:transparent;
    font-family:'UnifrakturCook', sans-serif;
    display:block;
    cursor:pointer;
    margin:auto;
    user-select:none;
    position:relative;
    color:#FFFFFF ;
    text-decoration:none;
    transition:0.3s ease all;
    border:1px solid #303030;
}

.block:before{
    transition:0.3s all ease;
    position:absolute;
    top:0;
    left:50%;
    right:50%;
    bottom:0;
    opacity:0;
    content:'';
    z-index:-1;
}

#chouette::before{background-color:#27ae60;}
#culdechouette:before{background-color:#c0392b;}
#velute:before{background-color:#3498db;}
#suite:before{background-color:#f39c12;}
#chouettevelute:before{background-color:#FC427B;}
#neant:before{background-color:#6c5ce7;}

#sirop:before{background-color:#218c74;}
#civet:before{background-color:#40407a;}
#grelottine:before{background-color:#b71540;}

.block:hover{color:white;}

.block:hover:before{
    transition:0.3s all ease;
    left:0;
    right:0;
    opacity:1;
}

.block:active{transform:scale(0.9);}